<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="linq2sql.Properties.Settings.AdresarConnectionString"
            connectionString="Data Source=NISWS03\SQLEXPRESS;Initial Catalog=Adresar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>